@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&family=Mooli:wght@100;300;400;700;900&display=swap');

:root {
    --primary-white: #FFFFFF;
    --primary-black: #000000;
    --secundary-gray: #E1E1E1;
    --black-gray: #BABABA;
    --secundary-white: #EEEEEE;

    --primary-font: 'Mooli', sans-serif;
    --secundary-font: 'Montserrat', sans-serif;
}

.headB {
    display: flex;
    justify-content: flex-end;
    gap: 17px;
    padding: 35px 45px 75px 0px;
}

.headB__button {
    font-family: var(--secundary-font);
    font-size: 19px;
    color: var(--primary-black);
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainly {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    padding: 25px 0px 45px 0px;
    background-color: var(--secundary-white);
}

.mainly__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.mainly__content__title {
    font-family: var(--primary-font);
    font-size: 48px;
    color: var(--black-gray);
    width: 229px;
    height: 41px;
}

.mainly__content__subtitle {
    font-family: var(--secundary-font);
    font-size: 9px;
    color: var(--primary-black);
    width: 206px;
    height: 17px;
}

.mainly__content__text {
    font-family: var(--secundary-font);
    font-size: 11px;
    color: var(--primary-black);
    width: 647px;
    height: 146px;
    padding: 12px 12px 12px 12px;
}

.mainly__img {
    width: 269px;
    height: 246px;
}

.mainly__under__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.mainly__under__content__text {
    font-family: var(--secundary-font);
    font-size: 12px;
    color: var(--primary-black);
}

.mainly__under__content > div {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  flex-basis: calc(50% - 20px);
  box-sizing: border-box; 
  padding: 10px;
}

.mainly__under__content img {
  width: 100%;
  max-width: 350px; 
  height: auto;
  border-radius: 10px;
}

.mainly__under__content p {
  margin-top: 10px;
  max-width: 150px;
}


.boardB {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 25px 5px 5px 5px;
    background-color: var(--black-gray);
}

.boardB__img {
    width: 117px;
    padding: 5px 5px 5px 25px;
}

.boardB__title {
    padding: 15px 25px 15px 15px;
    font-family: var(--secundary-font);
    color: var(--primary-white);
    font-size: 25px;
}

.boardB__title--Linkedin:hover {
    color: #0077b5;
}

.boardB__title--Twitter:hover {
    color: #1da1f2;
}

.boardB__title--Twitch:hover {
    color: #9146ff;
}