@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&family=Mooli:wght@100;300;400;700;900&display=swap');

:root {
    --primary-white: #FFFFFF;
    --primary-black: #000000;
    --secundary-gray: #E1E1E1;
    --terciary-gray: #DCDCDC;
    --black-gray: #BABABA;

    --primary-font: 'Mooli', sans-serif;
    --secundary-font: 'Montserrat', sans-serif;
}

.headB {
    display: flex;
    justify-content: flex-end;
    gap: 17px;
    padding: 35px 45px 75px 0px;
}

.headB__button {
    font-family: var(--secundary-font);
    font-size: 19px;
    color: var(--primary-black);
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainly {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    padding: 25px 0px 45px 0px;
    background-color: var(--terciary-gray);
    margin-bottom: 50px;
}

.mainly__content {
    display: flex;
    flex-direction: row;
}

.mainly__content__form {
    display: flex;
    flex-direction: column;
    padding: 45px 45px 45px 45px;
}

.mainly__content__form__title {
    font-family: var(--primary-font);
    font-size: 48px;
    color: var(--black-gray);
    padding: 15px 0px 15px 0px;
}

.mainly__content__form__subtitle {
    font-family: var(--secundary-font);
    font-size: 32.4px;
    color: var(--primary-black);
    padding: 15px 0px 15px 0px;
}

.mainly__content__form__tubtitle {
    font-family: var(--secundary-font);
    font-size: 28.4px;
    color: var(--primary-black);
    padding: 10px 0px 10px 0px;
}

.mainly__content__form__quititle {
    font-family: var(--secundary-font);
    font-size: 22.4px;
    color: var(--primary-black);
    padding: 10px 0px 10px 0px;
}

.mainly__content__form__text {
    font-family: var(--secundary-font);
    font-size: 11.2px;
    color: var(--primary-black);
}

.mainly__img {
    width: 425px;
    height: 1345px;
    padding: 25px 25px 25px 25px;
}

.mainly__content__form__button {
    background: linear-gradient(135deg, #bdbbbb, #1c1c1d);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mainly__content__form__selection {
    appearance: none;
    background: linear-gradient(135deg, #bdbbbb, #1c1c1d);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.mainly__content__form__selection__options {
    background-color: #1c1c1d;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.boardB {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 25px 5px 5px 5px;
    background-color: var(--black-gray);
}

.boardB__img {
    width: 117px;
    padding: 5px 5px 5px 25px;
}

.boardB__title {
    padding: 15px 25px 15px 15px;
    font-family: var(--secundary-font);
    color: var(--primary-white);
    font-size: 25px;
}

.boardB__title--Linkedin:hover {
    color: #0077b5;
}

.boardB__title--Twitter:hover {
    color: #1da1f2;
}

.boardB__title--Twitch:hover {
    color: #9146ff;
}